body {
    background-color: rgb(24, 24, 24);
    font-family: Arial;
    color: white;
  }
  
  a {
    color: inherit; /* changes the a tag's color to white*/
  }
  
  #main {
    margin: 30px 8px;
    padding: 15px;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  #title, #sub {
    text-align: center;
    font-size: 45px;
    margin: 0;
  }
  
  #sub{
    font-size: 18px;
  }
  
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 2%;
  }
  
  #img-caption {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
  }
  
  #tribute-info{
    margin: 50px;
  }
  
  #headline {
    text-align: center;
  }
  
  ul {
    max-width: 500px;
    margin: 0 auto 50px auto;
  }
  
  li {
    text-align: left;
    line-height: 2.0;
  }
  
  #reference {
    font-style: italic;
    max-width: 460px;
    margin: 0 auto 50px auto;
  }